---
layout: regular
page_type: portfolio item
title: Ecommerce Website
sub_title:
item_url: http://guapas-2.myshopify.com
description: REMEMBER TO PLACE DESCRIPTION FOR SEO.
next_item: /portfolio/bg/index.html
prev_item: /portfolio/ds/index.html
---

<section class="page-content clearfix">
	<div class="one-half first">

		<!-- PROJECT TITLE -->
		{% include section-header.html %}

		<!-- PROJECT SCREENSHOT -->
		<figure class="portf-item-screenshot">
			<img src="{{"/images/portfolio/list/guapas-list.jpg" | prepend: site.baseurl}}" alt="" />
		</figure>

		<!-- CLIENT, DATE AND WEBSITE LINK -->
		<p><b>Client:</b> Yoobee Web Bootcamp.<br>
		<b>Date:</b> February 2015.<br>
		<a href="{{page.item_url | prepend: site.baseur}}" target="_blank">Visit Website</a></p>

	</div>
	
	<!-- PROJECT DESCRIPTION -->
	<div class="one-half last">

		<!-- Title -->
		<header class="section-header">
		  <h3 class="section-title">Project Description</h3>
		</header>
		<!-- Description -->
		{% include project-description.html %}
	  
	</div>

	<div class="clearfix"></div>
	{% include slider-controls.html %}
</section>